#   G32 - home, level gantry and calibrate bed mesh

[gcode_macro G32]
description: Home, level gantry and calibrate bed mesh
gcode:
    G28                              ; home all axes
    
    BED_MESH_CLEAR                   ; QGL will throw off the mesh, so clear it first
    QUAD_GANTRY_LEVEL
    BED_MESH_CALIBRATE

    G0 X175 Y175 Z30 F7200           ; park at bed center
