#   Fans

[fan]
#	Part cooling / layer fan - SB2209
pin: EBBCan:gpio13

[heater_fan hotend_fan]
#	Heatbreak fan - SB2209
pin: EBBCan:gpio14
heater: extruder
heater_temp: 50.0

[heater_fan nevermore]
#	Nevermore recirculating filter - PF8, runs while bed temp > 80C
#   TODO: control nevermore and bed fans separately
pin: PF8
kick_start_time: 0.5
off_below: 0.10
heater: heater_bed
heater_temp: 80

[controller_fan controller_fan_1]
#	Controller fan 1 - PF7
pin: PF7
max_power: 1.0
kick_start_time: 0.5
fan_speed: 0.66

[controller_fan controller_fan_2]
#	Controller fan 2 - PF9
pin: PF9
max_power: 1.0
kick_start_time: 0.5
fan_speed: 0.66

[fan_generic exhaust_fan]
#	Chamber exhaust fan - PF6
pin: PF6
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 0.5