#   printer specifications (Voron 2.4R2 350mm build)

[printer]
kinematics: corexy
max_velocity: 400
max_accel: 4200 # suggested by input shaper
max_z_velocity: 30
max_z_accel: 350
square_corner_velocity: 5.0